<!-- Loop over each object in the workouts array-->
<h1>Hello, {{user.name}}!</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    {{#each availibleExercises as |availexercise|}}
    <li><a class="dropdown-item" href="#" data-id="{{availexercise.id}}">{{availexercise.name}}</a></li>
    {{/each}}
  </ul>
</div>
<select name="ex" id="" multiple>
  <option value="">Choose one...</option>
   {{#each availibleExercises as |availexercise|}}
  <option value="{{availexercise.name}}">{{availexercise.name}}</option>
    {{/each}}

</select>
<!--display todays date-->

<!--randomize 5 workouts-->

<!--drop down button with exercises-->
<!--drop down button with days of the week-->
<!--save button-->

{{#each exercises as |exercise| }}

 <div class="card">
  <div class="card-content">
    <div class="content">
      <p>{{exercise.name}}</p>
      <p>{{exercise.description}}</p>
      <p>{{exercise.reps}} </p>
      <p>{{exercise.muscle_group}}</p>
    </div>
  </div>
</div>

{{/each}}